@import "./VariableStyles.scss";

// global all
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// global containers and layout
.section {
  width: 100vw;
  height: fit-content;
  margin-block: min(2em, calc(2vh + 2vw));
  padding-inline: max(4vw, (100vw - 1000px)/2);
  @media (max-width: 1024px) {
    padding-inline: 4vw;
  }
}

.container {
  container-type: inline-size;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// global TEXT STYLES
// global TEXT STYLES
// global TEXT STYLES

// global text colors

.white {
  color: $white;
}

.gunz {
  color: $gunz;
}

.sword {
  color: $sword;
}

.black {
  color: $black;
}

.trueBlack {
  color: $trueBlack;
}

.blood {
  color: $blood;
}
.firebrick {
  color: $firebrick;
}

.armyGreen {
  color: $armyGreen;
}

.gold {
  color: $gold;
}

// global text fonts

.poppins {
  font-family: $poppins;
}

.bitter {
  font-family: $bitter;
}

.logoType {
  font-family: $logoType;
}

.logoTypeAlt {
  font-family: $logoTypeAlt;
}

.albertsType {
  font-family: $albertsType;
}

.bygonestType {
  font-family: $bygonestType;
}

.draconianType {
  font-family: $draconianType;
}

.leapingType {
  font-family: $leapingType;
}

.momsType {
  font-family: $momsType;
}

.oldType {
  font-family: $oldType;
}

.zaiOlivettiType {
  font-family: $zaiOlivettiType;
}

.zaiRoyalType {
  font-family: $zaiRoyalType;
}

// global text preset styles

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: $poppins;
  color: $white;
  font-weight: 400;
}

p {
  font-family: $poppins;
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 300;
  color: $white;
  letter-spacing: 0.025em;
  margin-block: 1em;
  line-height: 1.35em;
}

.theBrookLogo {
  font-size: clamp(3.5rem, 8vw, 5.5rem);
  color: #fff;
  text-wrap: balance;
  font-weight: 300;
  margin-block: 0;
  font-family: $logoType;
}

.tattooStudioLogo {
  font-family: $logoTypeAlt;
  letter-spacing: 0.16em;
  margin-top: 0.5em;
  font-weight: 600;
  color: #fff;
  text-wrap: balance;
  font-weight: 300;
  font-size: 1.75rem;
}

.logoType {
  font-family: $logoType;
}

.logoTypeAlt {
  font-family: $logoTypeAlt;
}

.uppercase {
  text-transform: uppercase;
}

.leftText {
  text-align: left;
}

.textLeft {
  text-align: left;
}

.centerText {
  text-align: center;
}

.textCenter {
  text-align: center;
}

.rightText {
  text-align: right;
}

.textRight {
  text-align: right;
}

// logo text top line
.overline {
  line-height: 0.5em;
  margin-top: -0.5em;
}

.lineNormal {
  line-height: normal;
}

.lineTight {
  line-height: 1.25em;
}

.lineLoose {
  line-height: 1.5em;
}

// global margins and spacing

.mx-auto {
  margin-inline: auto;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 0.25em;
}

.mb-1 {
  margin-bottom: 0.25em;
}

.mt-2 {
  margin-top: 0.5em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.mt-3 {
  margin-top: 1em;
}

.mb-3 {
  margin-bottom: 1em;
}

.mt-4 {
  margin-top: 1.5em;
}

.mb-4 {
  margin-bottom: 1.5em;
}

.mt-5 {
  margin-top: 2em;
}

.mb-5 {
  margin-bottom: 2em;
}

.mt-6 {
  margin-top: 3em;
}

.mb-6 {
  margin-bottom: 3em;
}
