@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// global LOCAL font files set

@font-face {
  font-family: "LogoType";
  src: url("../../public/assets/fonts/TypewriterSpoolXRXEx-Italic.otf");
}

@font-face {
  font-family: "LogoTypeAlt";
  src: url("../../public/assets/fonts/TravelingTypewriter.ttf");
}

@font-face {
  font-family: "AlbertsType";
  src: url("../../public/assets/fonts/AlbertsthalTypewriter.ttf");
}

@font-face {
  font-family: "BygonestType";
  src: url("../../public/assets/fonts/BygonestTypewriter.ttf");
}

@font-face {
  font-family: "DraconianType";
  src: url("../../public/assets/fonts/DraconianTypewriter.ttf");
}

@font-face {
  font-family: "LeapingType";
  src: url("../../public/assets/fonts/LeapingTypewriter.ttf");
}

@font-face {
  font-family: "MomsType";
  src: url("../../public/assets/fonts/MomsTypewriter.ttf");
}

@font-face {
  font-family: "OldType";
  src: url("../../public/assets/fonts/OldTypewriter.ttf");
}

@font-face {
  font-family: "ZaiOlivettiType";
  src: url("../../public/assets/fonts/ZaiOlivettiUnderwoodStudio21Typewriter.otf");
}

@font-face {
  font-family: "ZaiRoyalType";
  src: url("../../public/assets/fonts/ZaiRoyalVogueTypewriter1929.ttf");
}

// global font selectors based on imports

// Local imported
$logoType: "LogoType", Arial, sans-serif;
$logoTypeAlt: "LogoTypeAlt", Arial, sans-serif;
$albertsType: "AlbertsType", Arial, sans-serif;
$bygonestType: "BygonestType", Arial, sans-serif;
$draconianType: "DraconianType", Arial, sans-serif;
$leapingType: "LeapingType", Arial, sans-serif;
$momsType: "MomsType", Arial, sans-serif;
$oldType: "OldType", Arial, sans-serif;
$zaiOlivettiType: "ZaiOlivettiType", Arial, sans-serif;
$zaiRoyalType: "ZaiRoyalType", Arial, sans-serif;

// Google imported
$bitter: "Bitter", serif;
$poppins: "Poppins", sans-serif;


// global colors
$trueBlack: #000000;
$black: #191716;
$gunz: #323031;
$blood: #66101f;
$firebrick: #b22222;
$armyGreen: #0E5835;
$gold: #DFAF01;
$sword: #9f9f9f;
$white: #ffffff;
