@import "../../../Globals/GlobalStyles.scss";

.headerDesktop {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .headerLogoDesktop {
    width: 160px;
  }
  .nav {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 770px;
    align-items: center;
    opacity: 1;
    transition: opacity 300ms ease-out;
    .desktopLink {
      position: relative;
      text-decoration: none;
      p {
        padding-inline: 8px 2px;
        font-weight: normal;
        transition: color 400ms ease-out;
        text-shadow: -10px 5px 4px #b2222200;
        filter: drop-shadow(-10px -7px 4px #b2222200);
        font-size: 1em;
        line-height: 1.35em;
        font-family: $zaiRoyalType;
        margin: 0;
        color: $sword;
        z-index: 2;
      }
      // sliding vert line
      &:before {
        position: absolute;
        content: "";
        display: block;
        width: 3px;
        border-radius: 1px;
        height: 20px;
        opacity: 0.8;
        background: $firebrick;
        left: 0;
        top: 0;
        filter: blur(0);
        transition: left 360ms ease-out, opacity 300ms ease-out 80ms;
        transform-origin: left;
      }
      // bg blur
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 0%;
        border-radius: 3px;
        height: 20px;
        opacity: 0.2;
        background: $firebrick;
        left: 0;
        top: 0;
        filter: blur(2px);
        z-index: -1;
        transition: width 400ms ease-out, opacity 300ms ease-out 80ms, filter 300ms ease-out;
        transform-origin: left;
      }
      &:hover {
        p {
          color: $white;
          transition: color 200ms ease-out, text-shadow 300ms ease-out, filter 300ms ease-out;
          text-shadow: 2px 0px 3px #b22222;
          filter: drop-shadow(2px 0px 3px #b22222);
        }
        &:before {
          opacity: 1;
          left: 106%;
          opacity: 0;
          filter: blur(1px);
          transition: left 275ms ease-out, opacity 250ms ease-out 120ms, filter 250ms ease-out;
        }
        &:after {
          width: 100%;
          opacity: 1;
          filter: blur(4px);
          transition: width 280ms ease-out, opacity 220ms ease-out, filter 300ms ease-out;
          transform-origin: left;
        }
      }
    }
  }
}

//  tablet hamburger menu switcheroo
@media (max-width: 1024px) {
  .headerDesktop {
    display: none;
    .nav {
      opacity: 0;
    }
  }
}
