@import "../../Globals/GlobalStyles.scss";

.header {
  width: 100vw;
  height: 200px;
  transition: height 500ms ease;
  background: linear-gradient(to bottom, #000000 30%, #00000060 100%);
}

@media (max-width: 1024px) {
  .header {
    height: 100px;
  }
}
