@import "../../Globals/GlobalStyles.scss";

.header {
  width: 100vw;
  height: 225px;
  transition: height 500ms ease;
  background: linear-gradient(to bottom, #000000 50%, #00000000 90%);
}

@media (max-width: 1024px) {
  .header {
    height: 100px;
  }
}
