@import "../Globals/GlobalStyles.scss";

.contactFormContainer {
  container-type: inline-size;
  .formWidthSetter {
    position: relative;
    width: clamp(314px, 90vw, 430px);
    margin-inline: auto;
    backdrop-filter: blur(9px);
    background-color: #00000082;
    padding: 1.5em 0 2.5em;
    border-radius: 0.57em;
    border: 2px solid #ffffff40;

    .contactForm {
      align-items: flex-start;
      width: min(83%, 300px);
      margin-inline: auto;
      label,
      .subLabel {
        font-size: clamp(18px, 5cqi, 22px);
        font-family: $poppins;
        font-weight: 500;
        color: $sword;
        align-self: flex-start;
        text-align: left;
        text-transform: uppercase;
        &.conceptLabel {
          margin-top: 0.5em;
        }
      }
      .subLabel {
        display: none;
        font-size: 0.55em;
        font-weight: 300;
        &.show {
          display: inline-block;
        }
      }

      input,
      textarea {
        font-family: $poppins;
        width: 100%;
        line-height: normal;
        font-size: clamp(14px, 4cqi, 16px);
        font-weight: 300;
        color: $white;
        letter-spacing: 0.03em;
        margin: 0.4em 0 0.6em;
        padding: 0 0.2em 0.1em;

        &:focus {
          outline: none;
        }
      }

      input {
        &[type="text"],
        &[type="email"],
        &[type="tel"],
        &[type="number"] {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $white;
          transition: border-bottom 350ms ease;
          &:focus {
            transition: border-bottom 150ms ease;
            border-bottom: 1px solid $firebrick;
          }
        }
      }

      textarea {
        background-color: #ffffff11;
        height: 150px;
        border-radius: 0.3em;
        border: 1px solid #ffffff60;
        resize: none;
        padding: 0.17em 0.37em;
        transition: border 350ms ease;
        &:focus {
          transition: border 150ms ease;
          outline: none;
          border: 1px solid $firebrick;
        }
      }

      select {
        cursor: pointer;
        width: 122px;
        font-family: $poppins;
        font-size: clamp(17px, 6cqi, 20px);
        font-weight: 300;
        color: $white;
        letter-spacing: 0.03em;
        margin: 3.5em 0 4em;
        padding: 0 0.2em 0.05em;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $white;
        &:focus {
          outline: none;
        }
      }

      .submitButtonContainer {
        width: 112px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .submitButton {
          width: 100px;
          height: 50px;
          background-color: $firebrick;
          border-radius: 14px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 400ms ease;
          h4 {
            transition: all 400ms ease;
            text-transform: uppercase;
            font-family: $poppins;
            font-weight: 600;
            font-size: clamp(16px, 4cqi, 20px);
            color: $white;
          }
        }

        &:hover {
          transition: all 220ms ease;
          .submitButton {
            transition: all 220ms ease;
            background-color: $blood;
            width: 108px;
            height: 46px;
            h4 {
              transition: all 220ms ease;
              transform: scale(1.125);
            }
          }
        }

        .artistImageWrapper {
          width: 152px;
          position: absolute;
          aspect-ratio: 2/3;
          bottom: 22px;
          right: 26px;
          display: none;
          .artistImage {
            border-radius: 0.3em;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &.show {
            display: block;
          }
        }
      }
      // IMPORTANT - ON SUCCESS MESSAGE
      &.hide {
        opacity: 0;
        filter: blur(18px);
        transition: filter 500ms ease, opacity 350ms ease 250ms;
        pointer-events: none;
      }
    }

    // success message
    .successMessage {
      position: absolute;
      visibility: hidden;
      margin-inline: auto;
      text-align: center;
      font-family: $poppins;
      color: $white;
      width: 100%;
      pointer-events: none;

      h2 {
        opacity: 0;
        transform-origin: center;
        transform: translateY(3em);
        filter: blur(18px);
        font-size: clamp(26px, 12cqi, 33px);
        font-weight: 500;
        margin: 0.2em 0 0.1em;
        letter-spacing: 0.16em;
      }
      p {
        opacity: 0;
        transform-origin: center;
        transform: translateY(3em);
        filter: blur(18px);
        font-size: clamp(15px, 5cqi, 18px);
        font-weight: 300;
        margin: 0;
      }

      .backButtonContainer {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(3em);
        filter: blur(18px);
        z-index: 10;
        width: 98px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-top: 0.8em;
        cursor: pointer;
        .backButton {
          width: 90px;
          height: 42px;
          background-color: $firebrick;
          border-radius: 14px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 400ms ease;
          h4 {
            transition: all 400ms ease;
            text-transform: uppercase;
            font-family: $poppins;
            font-weight: 600;
            font-size: clamp(15px, 4cqi, 17px);
            color: $white;
          }
        }

        &:hover {
          transition: all 220ms ease;
          .backButton {
            transition: all 220ms ease;
            background-color: $blood;
            width: 95px;
            height: 40px;
            h4 {
              transition: all 220ms ease;
              transform: scale(1.125);
            }
          }
        }
      }

      &.show {
        visibility: visible;
        p,
        h2 {
          opacity: 1;
          filter: blur(0);
          transform: translateY(0);
        }
        h2 {
          transition: filter 750ms ease 150ms, opacity 400ms ease 250ms, transform 500ms ease 150ms;
        }
        p {
          transition: filter 750ms ease 350ms, opacity 400ms ease 450ms, transform 500ms ease 350ms;
        }
        .backButtonContainer {
          pointer-events: auto;
          opacity: 1;
          filter: blur(0);
          visibility: visible;
          transform: translateY(0);
          transition: filter 800ms ease 500ms, opacity 500ms ease 600ms, transform 600ms ease 500ms;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .contactFormContainer {
    padding-inline: 0 !important;
  }
}
