@import "../Globals/GlobalStyles.scss";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, $black 15%, $trueBlack 40%, $trueBlack 60%, $black 84%);
  .imageWrapperSection {
    margin-top: 0;
    .imageInnerWrapper {
      container-type: inline-size;
      position: relative;
      .storeFrontImage {
        width: 100%;
        height: 100%;
      }
      .titleOverlay {
        position: absolute;
        z-index: 2;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: min(1em, 1vw);
        .titleBar {
          position: relative;
          height: clamp(32px, 11cqi, 80px);
          width: 100%;
          background: linear-gradient(
            90deg,
            #00000002 0%,
            #00000099 23%,
            #000000dd 50%,
            #00000099 77%,
            #00000002 100%
          );
          backdrop-filter: blur(1px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h1 {
            @extend .lineNormal;
            font-size: clamp(2rem, 7vw, 4rem);
            color: $white;
            position: absolute;
            margin: auto;
            inset: 0;
            font-family: $albertsType;
            font-weight: 400;
            &.backgroundTitle {
              opacity: 0.35;
              color: $firebrick;
              font-family: $leapingType;
              font-size: clamp(2rem, 8vw, 4.75rem);
            }
          }
        }
        .subtitleBar {
          width: 100%;
          background: linear-gradient(
            90deg,
            #00000012 0%,
            #000000aa 16%,
            #000000cf 50%,
            #000000aa 84%,
            #00000012 100%
          );
          backdrop-filter: blur(1px);
          h2 {
            @extend .lineNormal;
            color: $white;
            font-family: $poppins;
            font-weight: 400;
            padding-block: 0.1em;
            font-size: clamp(0.9rem, 3cqi, 1.35rem);
            letter-spacing: min(0.4em, calc(0.2em + 0.6vw));
          }
        }
      }
    }
  }

  // 2x photos and book now button
  .homeImagesSection {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
      width: 35%;
    }
    .bookNowButtonContainer {
      width: 26%;
      text-align: center;
      padding-bottom: min(3em, 5vw);
      margin-top: 0;
     
    }
  }
}

@media (max-width: 1024px) {
  .home {
    .imageWrapperSection {
      width: clamp(280px, 90vw, 950px);
      margin-bottom: min(4vw, 1.5em);
      .storeFrontImage {
        width: 100%;
      }
    }
    .homeImagesSection {
      width: clamp(280px, 90vw, 950px);
      margin-top: min(4vw, 1.5em);
    }
  }

  @media (max-width: 768px) {
    .home {
      .imageWrapperSection {
        width: 100%;
        padding-inline: 3vw;
        margin-bottom: min(1.25em, 3vw);
        .imageInnerWrapper {
          .titleOverlay {
            gap: 1.5vw;
            .titleBar {
              height: clamp(39px, 9cqi, 66px);
              background: linear-gradient(
                90deg,
                #00000020 0%,
                #000000aa 10%,
                #000000cb 50%,
                #000000aa 90%,
                #00000020 100%
              );
              h1 {
                &.backgroundTitle {
                  font-weight: bold;
                  font-size: clamp(2.5em, 7cqi, 3em);
                }
              }
            }
            .subtitleBar {
              background: linear-gradient(
                90deg,
                #00000012 0%,
                #000000aa 8%,
                #000000ab 50%,
                #000000aa 92%,
                #00000012 100%
              );
            }
          }
        }
      }
      .homeImagesSection {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: min(1.25em, 3vw);
        img {
          width: 48%;
          flex-basis: 48%;
        }
        .bookNowButtonContainer {
          width: 100%;
          flex-basis: 100%;
          order: -1;
         
        }
      }
    }
  }
}
