@import "../Globals/GlobalStyles.scss";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .storeFrontImage {
    margin-inline: 'auto';
    padding-top: min(1em, calc(1vh + 1vw));
  }
}
