@import "../Globals/GlobalStyles.scss";

.tempHeaderContainer {
  height: clamp(171px, 13vw + 12vh, 290px);
  margin-top: min(2em, calc(1.75vw + 1.75vh));
  margin-bottom: min(1.125em, calc(1.35vw + 1.35vh));
  column-gap: min(3vw, 1.5em);
  img {
    height: 86%;
  }

  .locationText {
    color: $sword;
    opacity: 0.8;
    font-family: $logoTypeAlt;
    font-size: clamp(16px, calc(1vw + 1vh), 21px);
    font-weight: 500;
    letter-spacing: 0.23em;
    margin-block: 0.52em 0;

  }
}
