@import "../Globals/GlobalStyles.scss";

.tempHeaderContainer {
  height: clamp(144px, calc(10vw + 9vh), 230px);
  margin-block: min(2em, calc(1.5vw + 1.5vh));
  column-gap: min(3vw, 1.5em);
  img {
    height: 100%;
  }

  .artistImage {
  }

  .logoImage {
  }
}
