@import "../Globals/GlobalStyles.scss";

.footer {
  bottom: 0;
  width: 100vw;
  height: 131px;
  background: $trueBlack;
  .footerContentWrapper {
    position: relative;
    height: 90%;
    .footerFlexSplit {
      height: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-inline: min(3vw, 3em);
      align-items: center;
      .left {
        h4 {
          font-family: $albertsType;
          font-weight: 600;
          font-size: clamp(2em, 3.125vw, 2.6em);
          text-align: left;
          margin-block: 0;
        }
        .address {
          display: flex;
          flex-direction: row;
          column-gap: 0.5em;
          row-gap: 0;
          line-height: 1.125em;
          padding-block: 1px 0;
          h6 {
            font-family: $poppins;
            margin-block: 0;
            font-size: clamp(0.83em, 1.35vw, 1.124em);
            &.divider {
              color: $firebrick;
            }
          }
        }
        .email {
          font-family: $poppins;
          margin-block: 0;
          font-weight: 200;
          font-size: clamp(0.83em, 1.2vw, 1.075em);
          letter-spacing: 0.125em;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-decoration-color: $firebrick;
            text-underline-offset: 0.2em;
          }
        }
      }
    }
    .socials {
      height: 70px;
      display: flex;
      flex-direction: row;
      gap: min(0.75em, 1vw);
      justify-content: center;
      align-items: center;
      .socialLink {
        height: 50px;
        transition: filter 300ms ease-out;

        svg {
          transition: transform 300ms ease-out, filter 300ms ease-out, fill 300ms ease-out, stroke-width 300ms ease-out;
          width: 50px;
          height: 50px;
          path {
            transition: transform 300ms ease-out, fill 300ms ease-out, stroke-width 300ms ease-out, filter 300ms ease-out;

          }
        }
        &:hover {
          filter: drop-shadow(0 0 4px $firebrick);
          transition: filter 170ms ease-out;
          svg {
            transform: rotate(8deg);
            transition: transform 170ms ease-out, filter 170ms ease-out;
            filter: drop-shadow(0 0 4px $firebrick);
            path {
              transition: transform 170ms ease-out, fill 170ms ease-out, stroke-width 170ms ease-out, filter 170ms ease-out;

              filter: drop-shadow(0 0 6px $firebrick);
              &.instagramBlackRed {
                fill: $firebrick;
              }
              &.whiteCircle {
                stroke-width: 4;
              }
              &[stroke="#9f9f9f"] {
                stroke: $white;
              }
              &[fill="#9f9f9f"] {
                fill: $white;
              }
            }
          }
        }
      }
    }
    .copyright {
      position: absolute;
      color: $sword;
      inset: auto 0 0 0;
      margin: auto;
      margin-block: 0;
      letter-spacing: min(0.5vw, 0.05em);
      font-family: $poppins;
      font-size: clamp(13px, 1.5vw, 14px);
      font-weight: 200;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    height: 145px;
  }
}

@media (max-width: 575px) {
  .footer {
    height: 167px;
    .footerContentWrapper {
      height: 97%;
      .footerFlexSplit {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .email {
            text-align: center;
            margin-inline: auto;
          }
        }
      }
      .socials {
        gap: 0.5em;
        height: 47px;
        .socialLink {
          svg {
            width: 43px;
            height: 43px;
          }
        }
      }
      .copyright {
        padding-bottom: 3px;
      }
    }
  }
}
